* {
    margin: 0;
    border: 0;
    padding: 0;
}

.videoBox {
    width: 800px;
    /* overflow: hidden; */
    margin: auto;
    position: relative;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 640px;
    height: 480px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 480px;
    font-size: 50px;
    font-weight: bold;
    z-index: 999999999;
}

.red {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999999;
}

.red img {
    width: 100%;
}

.videonSilder {
    width: 640px;
    height: 480px;
    position: relative;
    margin: auto;
}

.videonSilder video,
.videonSilder img {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

video:first-child,
img:first-child {
    opacity: 1;
}

.videonControl {
    position: relative;
}

.swiper-container {
    width: 700px;
    margin-top: 30px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    outline: none;
}

.center {
    text-align: center;
    padding: 10px;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.center button {
    font-size: 12px;
    width: 100%;
    line-height: 20px;
    background: #ccc;
}

.border {
    border: 2px solid #333;
}

.tiao {
    box-sizing: border-box;
    padding: 7px;
    overflow: hidden;
}

.tiao span {
    height: 80px;
    float: left;
    margin: 10px;
}

.tiao span a {
    outline: none;
}

.ui-draggable,
.ui-droppable {
    background-position: top;
}

.top {
    z-index: 999;
}

.hidden {
    display: none;
}

.camera {
    text-align: center;
}

.camera img {
    display: inline-block;
    width: 8%;
    vertical-align: top;
    margin-top: 20px;
}

.switch {
    width: 50px;
    margin: auto;
}

.btn_fath {
    margin-top: 10px;
    position: relative;
    border-radius: 20px;
}

.btn1 {
    float: left;
}

.btn2 {
    float: right;
}

.btnSwitch {
    height: 25px;
    width: 25px;
    border: none;
    color: #fff;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    z-index: 1;
}

.move {
    z-index: 100;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    cursor: pointer;
    border: 1px solid #828282;
    background-color: #f1eff0;
    box-shadow: 1px 1px 1px 1px #fff inset, 0 0 3px 1px #999;
}

.on .move {
    left: 25px;
}

.on.btn_fath {
    background-color: #0079ff;
    height: 25px
}

.off.btn_fath {
    background-color: #828282;
    height: 25px
}